@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-ura-green: #00ce88,
}

@layer utilities {
 
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;  
      scrollbar-width: none;  
}
}